*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
section{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 100px;
}
section#Home{
    background: url(images/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    font-size: 50px;
    font-weight: bold;
    font-family: sans-serif;
}
.about-section{
    background: url(images/pic.jpg) no-repeat left;
    background-size: 55%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 100px 0;
}

.inner-container{
    width: 55%;
    float: right;
    background-color: #E1DFDE;
    padding: 150px;
}

.inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.text{
    font-weight: bold;
    font-size: 13px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}
@media screen and (max-width:1200px){
    .inner-container{
        padding: 80px;
    }
}

@media screen and (max-width:1000px){
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        width: 100%;
    }
}

@media screen and (max-width:600px){
    .about-section{
        padding: 0;
    }
    .inner-container{
        padding: 60px;
    }
}
/*section#About{
    background: url(bg5.jpg);
    background-repeat: no-repeat;
    background-position: center;
    color: black;
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
}*/
/*.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}*/
/* section#Services{
    background: #151D21;
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
    justify-content: left;
    align-items: flex-start;
} */
main{
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth;
    overflow-y: scroll;
}
header{
    position: fixed;
    width: 100%;
}
nav{
    background: #0082e6;
    height: 80px;
    width: 100%;
}
label.logo{
    color: white;
    font-size: 35px;
    font-weight: bold;
    line-height: 80px;
    padding: 0 100px;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
a.active,a:hover{
    background: #1b9bff;

}
.checkbtn{
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}
@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 50%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all.5s;
    }
    nav ul li {
        display: block;
    }
    nav ul li a{
        font-size: 20px;
        margin: 50px 0;
        line-height: 30px;
    }
    a:hover,a.active{
        background: none;
        color: #0082e6;
    }
    #check:checked ~ ul{
        left: 0;
    }
}
@media (max-width: 909px){
    section#Home{
        font-size: 10px;
    }
}
@media (max-width: 441px){
    label.logo{
        font-size: 18px;
    }
}
a.mybutton{
    color: aqua;
    padding: 7px 13px;
    border-radius: 50px;
    background: #ff7a7a;
}
a.mybutton:hover{
    background: black;
}
.icons li{
    list-style: none;
    display: inline-block;
    padding-top: 50px;
    padding-right: 50px;
}
.icons li a{
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: black;
    font-size: 23px;
    color: white;
    margin: 1px;
    font-weight: bold;
    transition: 0.4s;
}
.icons li a:hover{
    background: #000;
    transition: 0.2s;
}
.icons li a:hover .fab{
    color: #fff;
}
.icons li a .fab:hover{
    transform: rotateY(360deg);
    color: #fff;
}
.icons li a .fab{
    transition: 0.8s;
}
@media (max-width: 522px){
    .icons li{
        padding-right: 0;
    }
    .icons li a{
        width: 35px;
        height: 35px;
        line-height: 35px;
    }
}
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
input[type=email], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

#Contact {
    background-color: #333;
}
.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color: #000;
}

.instagram {
  background: hotpink;
  color: white;
}

.youtube {
  background: red;
  color: white;
}

.telegram {
  background: blue;
  color: white;
}

.github {
  background: grey;
  color: white;
}