header {
  overflow: hidden;
  background-color: blue;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}
.list1{
  color: green;
}
.list2{
  color: red;
}
.list3{
  color: blue;
}
#navbar {
  color: white;
}
#links {
  color: white;
}
.dot{
  color: lightpink;
}
#footerid {
  background-color: black;
}
.icons {
  color: black;
  font-size: 20px;
}